https://www.insee.fr/fr/statistiques/serie/010567058

In [1]:
import pandas as pd

In [6]:
df=pd.read_csv("../data/sujet1/valeurs_trimestrielles.csv",sep=";")
df

,Libellé,Indice des prix des logements anciens - France métropolitaine - Ensemble - Base 100 en moyenne annuelle 2015 - Série brute,Codes
0,idBank,010567058,NaN
1,Dernière mise à jour,09/09/2025 08:45,NaN
2,Période,NaN,NaN
3,2025-T4,NaN,NaN
4,2025-T3,NaN,NaN
...,...,...,...
118,1997-T1,40.3,A
119,1996-T4,41.9,A
120,1996-T3,42.1,A
121,1996-T2,41.3,A
122,1996-T1,40.8,A

In [7]:
df1=pd.read_csv("../data/sujet1/caractéristiques.csv",sep=";")
df1

,idBank,Dernière mise à jour,Puissance,Zone géographique,Unité,Nature,Périodicité,﻿Base de l'indice,Correction,Indicateur,Série arrêtée
0,010567058,09/09/2025 08:45,0.0,France métropolitaine,sans objet,Indice,Trimestrielle,2015.0,Non corrigé,Indice de prix des logements anciens,non
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Codes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Q,Couvert par le secret statistique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,E,Estimation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,F,Prévision,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,P,Provisoire,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,SD,Valeur semi-définitive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,R,Révision,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,A,Valeur normale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,N,Valeur non significative,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,O,Valeur manquante,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,U,Valeur atypique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

import